<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
</head>

<body>
<div id="wb_Form2" style="position:absolute;width:400px;height:413px;">
    <form name="Form1" method="get" action="/login" enctype="multipart/form-data" id="Form4ff44">
        <input type="submit" id="Buttoffn9" name="" value="Log Out" style="position:absolute;left:142px;top:246px;width:110px;height:25px;z-index:8;">
    </form>


    <form name="Form1" method="get" action="/addAssigment" enctype="multipart/form-data" id="Form444">
        <input type="submit" id="Button9" name="" value="Add assigment" style="position:absolute;left:142px;top:216px;width:110px;height:25px;z-index:8;">
    </form>

    <form name="Form1" method="get" action="/addMaterial" enctype="multipart/form-data" id="Form44w4">
        <input type="submit" id="Buttdn9" name="" value="Add material" style="position:absolute;left:142px;top:186px;width:110px;height:25px;z-index:8;">
    </form>

    <form name="Form1" method="get" action="/addProcedure" enctype="multipart/form-data" id="Forme1">
        <input type="submit" id="Buttone8" name="" value="Add procedure" style="position:absolute;left:142px;top:156px;width:110px;height:25px;z-index:7;">
    </form>

    <form name="Form1" method="get" action="/addMedication" enctype="multipart/form-data" id="Formex1">
        <input type="submit" id="Buttonxe8" name="" value="Add medication" style="position:absolute;left:142px;top:126px;width:110px;height:25px;z-index:7;">
    </form>

    <form name="Form1" method="get" action="/patients" enctype="multipart/form-data" id="Form1">
        <input type="submit" id="Button8" name="" value="Patients" style="position:absolute;left:142px;top:55px;width:110px;height:25px;z-index:7;">
    </form>

    <form name="Form2" method="get" action="/doctors" enctype="multipart/form-data" id="Form2">
        <input type="submit" id="Button11111" name="" value="Doctors" style="position:absolute;left:142px;top:25px;width:110px;height:25px;z-index:11;">
    </form>

    <form name="Form2" method="get" action="/reports" enctype="multipart/form-data" id="Form2d">
        <input type="submit" id="Button1111sdcsad1" name="" value="Reports" style="position:absolute;left:142px;top:85px;width:110px;height:25px;z-index:11;">
    </form>
</div>
</body>
</html>