<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reports</title>
</head>

<body>
<div id="wb_Form2" style="position:absolute;width:400px;height:413px;">
    <form name="Form1" method="get" action="/reportPeriod" enctype="multipart/form-data" id="Form1">
        <input type="submit" id="Button8" name="" value="Report in period" style="position:absolute;left:142px;top:55px;width:150px;height:25px;z-index:7;">
    </form>

    <form name="Form2" method="get" action="/reportProcedure" enctype="multipart/form-data" id="Form2">
        <input type="submit" id="Button11111" name="" value="Report by procedure" style="position:absolute;left:142px;top:25px;width:150px;height:25px;z-index:11;">
    </form>

    <form name="Form2" method="get" action="/reportPatient" enctype="multipart/form-data" id="Form2d">
        <input type="submit" id="Button1111sdcsad1" name="" value="Report by patient" style="position:absolute;left:142px;top:85px;width:150px;height:25px;z-index:11;">
    </form>

    <form name="Form2" method="get" action="/main" enctype="multipart/form-data" id="Formf2d">
        <input type="submit" id="Button1111rsdcsad1" name="" value="Back" style="position:absolute;left:142px;top:150px;width:150px;height:25px;z-index:11;">
    </form>
</div>
</body>
</html>